
{% extends "./index.html" %}
{% load static  %}


{% block content %}
<div class="privacy-policy-area ptb-100">
    <div class="container">
        <div class="privacy-policy-content">
            <h3>About Bentuga Investment &amp; Loan Company</h3>
            <p>Founded in 2000, Bentuga Investments set out to be a financial services company with a difference, and one that put its customers first. A part of Octopus Group, today we manage more than £12.4 billion on behalf of over 63,000 investors and have over 750 employees.</p>
            <p>From the very beginning, we’ve invested in the people, ideas and industries that can change the world and unlock a brighter tomorrow. We built our expertise in spaces that make a real difference in financial planning. And we’ve designed investments that drive money into those sectors we truly believe in.</p>

            <h3>What we believe</h3>
            <p>We believe the best financial returns will come from investing in companies that care about their impact on the world. Not only should this make a bigger impact on environmental and societal progress, but it also makes investment sense. Hear from our founder on why responsible investing matters.</p>


            <h3>How We Work</h3>
            <p>As a private venture investor firm, Bentuga LTD a concentrates on investing capital and time into large, small and medium start–up opportunities through share consideration, along with specializing in establishing company-owned subsidiaries that are grown and developed by entrepreneurs and business minded individuals.</p>
            <h3>Sectors of Interest</h3>
            <p>Sectors of Interest: Oil &amp; Gas, Agriculture, Health, Aviation, Tourism, Retail, Real Estate, Construction, IT &amp; Communications, Technology, Education, Energy, Engineering, Utilities, Telecom, Mining, Maritime and host of other profitable ventures.</p>
            <h3>Our Key Interest</h3>
            <p>Bentuga LTD is interested in securing Return of investment (ROI), also interested in financing businesses that we see would be beneficial to all that's involved, we can go on and on about listing some companies that have benefited from the starwart around the world but that would be breaking the agreement which we signed with such companies but I would like to let you know that we have capable silent investors who are willing and ready to invest in businesses and fund projects they find worthy with a range being up to five billion united states dollars ( $5BUSD), and a starwart ltd delivers on its promises regarding to percentage return our investors expect, Which is at 3.95% with 10 years and 12 months grace and a minimum of $10MUSD Grant.</p>
            <h3>How to Apply</h3>
            <p>Applicant personnels and Companies are expected to send us a brief package of your business proposal /project for review, you have to indicate the amount which you want from Bentuga LTD, if it is viable and worthy, we will make a recommendation to Bentuga LTD and its investor to review your proposal and if they find it worthy, you will be given an MoU and if all is executed, with part of the Due diligence(DD) an invitation will be issued to you for a face to face meeting where Bentuga LTD is domicile to close the deal.</p>

        </div>
    </div>
</div>

{% endblock content %}
