
{% extends "./index.html" %}
{% load static  %}


{% block content %}
<div class="privacy-policy-area ptb-100">

    <div class="container">

        <div class="row">

            <h3>Our Address</h3>
            <p>&nbsp;</p>
            <br>

            <h5>Poland</h5>
            <p>Warsaw Wola, <br>65, 73 Chmielna Street,<br>Poland.<br>Tel: +48732232163<!---br/>Email: support@ofshoer.com ---></p> <br>
            <br>
            
            <p>&nbsp;</p>
            <h5>Istanbul</h5>
            <p>Akçaburgaz Mh, Hadımköy <br>Yolu Cd No:173, <br>34522 Esenyurt/İstanbul,<br>Turkey.</p>

            <h3>Email Address:</h3>
            <p><!--support@ofshoer.com --><br><a href="mailto:info@ofshoer.com">{{site.email}}</a> </p> <br>

        </div>

    </div>

</div>x
{% endblock content %}
