
{% extends "./index.html" %}
{% load static  %}


{% block content %}
<div class="coverage-area-without-color pt-100 pb-75">

    <div class="container">
        <div class="section-title">
            <span>We Are Covering</span>
            <h2>We are covering most countries and institutions.</h2>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-3 col-sm-6">
                <div class="single-coverage-card aos-init aos-animate" data-aos="fade-up" data-aos-delay="10" data-aos-duration="100" data-aos-once="true">
                    <div class="content">
                        <div class="coverage-image">
                            <img src="https://bentuga.ofshoer.com/templates/assets/images/coverage/coverage-1.png" alt="image">
                        </div>
                        <h3>British Pound</h3>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="single-coverage-card aos-init aos-animate" data-aos="fade-up" data-aos-delay="20" data-aos-duration="200" data-aos-once="true">
                    <div class="content">
                        <div class="coverage-image">
                            <img src="https://bentuga.ofshoer.com/templates/assets/images/coverage/coverage-2.png" alt="image">
                        </div>
                        <h3>Euro</h3>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="single-coverage-card aos-init aos-animate" data-aos="fade-up" data-aos-delay="30" data-aos-duration="300" data-aos-once="true">
                    <div class="content">
                        <div class="coverage-image">
                            <img src="https://bentuga.ofshoer.com/templates/assets/images/coverage/coverage-3.png" alt="image">
                        </div>
                        <h3>US Dollar</h3>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="single-coverage-card aos-init aos-animate" data-aos="fade-up" data-aos-delay="40" data-aos-duration="400" data-aos-once="true">
                    <div class="content">
                        <div class="coverage-image">
                            <img src="https://bentuga.ofshoer.com/templates/assets/images/coverage/coverage-4.png" alt="image">
                        </div>
                        <h3>Kuwait Dinar</h3>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="single-coverage-card aos-init aos-animate" data-aos="fade-up" data-aos-delay="50" data-aos-duration="500" data-aos-once="true">
                    <div class="content">
                        <div class="coverage-image">
                            <img src="https://bentuga.ofshoer.com/templates/assets/images/coverage/coverage-5.png" alt="image">
                        </div>
                        <h3>Australian Dollar</h3>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="single-coverage-card aos-init aos-animate" data-aos="fade-up" data-aos-delay="60" data-aos-duration="600" data-aos-once="true">
                    <div class="content">
                        <div class="coverage-image">
                            <img src="https://bentuga.ofshoer.com/templates/assets/images/coverage/coverage-6.png" alt="image">
                        </div>
                        <h3>Hungarian Forint</h3>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="single-coverage-card aos-init aos-animate" data-aos="fade-up" data-aos-delay="70" data-aos-duration="700" data-aos-once="true">
                    <div class="content">
                        <div class="coverage-image">
                            <img src="https://bentuga.ofshoer.com/templates/assets/images/coverage/coverage-7.png" alt="image">
                        </div>
                        <h3>Canadian Dollar</h3>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="single-coverage-card aos-init aos-animate" data-aos="fade-up" data-aos-delay="80" data-aos-duration="800" data-aos-once="true">
                    <div class="content">
                        <div class="coverage-image">
                            <img src="https://bentuga.ofshoer.com/templates/assets/images/coverage/coverage-8.png" alt="image">
                        </div>
                        <h3>Singapore Dollar</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="coverage-shape">
        <img src="https://bentuga.ofshoer.com/templates/assets/images/coverage/shape-1.png" alt="image">
    </div>
    <div class="coverage-shape-2">
        <img src="https://bentuga.ofshoer.com/templates/assets/images/coverage/shape-2.png" alt="image">
    </div>

</div>

{% endblock content %}
