
{% extends "./index.html" %}
{% load static  %}


{% block content %}
<div class="privacy-policy-area ptb-100">

    <div class="container">

        <div class="privacy-policy-content">

            <h3>Our Grant </h3>

            <p>The Small Business Innovation Research Program (SBIR) is a highly-competitive program that encourages small business to explore their technological potential and provides the incentive to profit from its commercialization.</p>
            <p>By including qualified small businesses in our business grants, high-tech innovation is stimulated and the society gains entrepreneurial spirit as it meets its specific research and development needs.</p>
            <p>SBIR targets the entrepreneurial sector because that is where most innovation and innovators thrive. However, the risk and expense of conducting serious R&amp;D efforts are often beyond the means of many small businesses. By reserving a specific percentage of our funds for small business, SBIR protects the small business and enables it to compete on the same level as larger businesses.</p>
            <p>SBIR funds the critical startup and development stages and it encourages the commercialization of the technology, product, or service, which, in turn, help us fund other young businesses.</p>

            <p><b>Business Technology Transfer Program</b><br>
                The Small Business Technology Transfer Program (STTR) is an important small business program that expands funding opportunities for innovation research and development arena.</p>
            <p>Central to the program is expansion of the technological sector to include the joint venture opportunities for small business and the nonprofit research institutions. STTR's most important role is to foster the innovation necessary to meet the scientific and technological challenges in the 21st century.</p>

        </div>

    </div>

</div>

{% endblock content %}
