<!DOCTYPE html><html lang="zxx"><head>
    {% load static %}
    <meta name="google-site-verification" content="qqXZeAZZLvBbhkgPBSIDQtinUk4BaP9zNuDwb-Ny8qU">
    
    
    <meta charset="utf-8">
    
    <title>{{site.name}} | Home </title>
    <meta name="description" content="Apply for loan offers the most up-to-date loan information on conservatories, double glazing windows and doors, glass upgrades, roof tops, and boilers to help you save money on energy and reduce your carbon footprint while improving your homes and business">
     <link rel="icon" type="image/png" href="{% static 'images/eBAa4lL30wwb.png'%}">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="{% static 'css/YafQpSBhZBgU.css'%}">
    <link rel="stylesheet" href="{% static 'css/SfJdbwD7GF8K.css'%}">
    <link rel="stylesheet" href="{% static 'css/s1c5evZunjeV.css'%}">
    <link rel="stylesheet" href="{% static 'css/ovQDH833e5yN.css'%}">
    <link rel="stylesheet" href="{% static 'css/T9bOAOBMo4nc.css'%}">
    <link rel="stylesheet" href="{% static 'css/nOD9oD7samd4.css'%}">
    <link rel="stylesheet" href="{% static 'css/35VUcGhMqYaa.css'%}">
    <link rel="stylesheet" href="{% static 'css/PNjVRkRSDIme.css'%}">
    <link rel="stylesheet" href="{% static 'css/ilekeuYawcrw.css'%}">
    <link rel="stylesheet" href="{% static 'css/XsrCXRe9kN66.css'%}">
    <link rel="stylesheet" href="{% static 'css/JEwYvtS0hvzk.css'%}">
    <link rel="stylesheet" href="{% static 'css/gA6QmocuPToD.css'%}">
    <link rel="stylesheet" href="{% static 'css/Aj4Uf05V1i3J.css'%}">
    <link rel="stylesheet" href="{% static 'css/GnKZW9K86cY2.css'%}">
    
</head>

<body>

    <div class="preloader">
        <div class="d-table">
            <div class="d-table-cell">
                <div class="lds-spinner">
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
            </div>
        </div>
    </div>
    <div class="topbar-area">
        <div class="container-fluid">
            <div class="row align-items-center">
                <div class="col-lg-6 col-md-6">
                    <ul class="topbar-information">
                        <li>
                            <a href="tel:44789289524329">{{site.phone}}</a>
                        </li>
                        <li>
                            <a href="mailto:info@ofshoer.com"><span class="__cf_email__">{{site.email}}</span></a>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-6 col-md-6">
                    <ul class="topbar-action">
                        <li>
                            <a href="/contact">Support</a>
                        </li>
                        <li>
                            <a href="/qoute">Consultations</a>
                        </li>
                        <li class="dropdown language-option">
                            <button class="dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="ri-global-line"></i>
                                <span class="lang-name"></span>
                            </button>
                            <div class="dropdown-menu language-dropdown-menu">
                                <a class="dropdown-item" href="#">
                                    <img src="{% static 'images/NysH6m1Rv4Qw.png'%}" alt="flag">English
                                </a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div style="background-color:white" class="navbar-area">
        <div class="main-responsive-nav">
            <div class="container">
                <div class="main-responsive-menu">
                    <div style="background-color:white !important" class=" ">
                        <a href="/">
                            <img style="background-color:white !important; width: 75%; height:45px" src="{{site.logo.url}}" alt="Bentuga">
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="main-navbar">
            <div class="container-fluid">
                <nav class="navbar navbar-expand-md navbar-light">
                    <a class="navbar-brand" href="/">
                        <img style="width: 150%; height:60px" src="{{site.logo.url}}" alt="https://bentuga.ofshoer.com/">
                    </a>
                    <div class="navbar-list">
                        <ul>
                            <li><a href="#">Personal</a></li>
                            <li><a href="#">Business</a></li>
                        </ul>
                    </div>
                    <div class="collapse navbar-collapse mean-menu" id="navbarSupportedContent">
                        <ul class="navbar-nav ms-auto">

                            <li class="nav-item">
                                <a href="/" class="nav-link">Home</a>
                            </li>
                            <li class="nav-item">
                                <a href="/about" class="nav-link">About</a>
                            </li>

                            <li class="nav-item">
                                <a href="/service" class="nav-link">service</a>
                            </li>

                            <li class="nav-item">
                                <a href="/investment" class="nav-link">investment</a>
                            </li>

                            <li class="nav-item">
                                <a href="/grant" class="nav-link">Grants</a>
                            </li>
                            <li class="nav-item">
                                <a href="/coverage" class="nav-link">Coverage</a>
                            </li>
                            <li class="nav-item">
                                <a href="/capital" class="nav-link">Venture Capital</a>
                            </li>
                            <li class="nav-item">
                                <a href="/contact" class="nav-link">Contacts</a>
                            </li>

                        </ul>
                        <div class="others-options d-flex align-items-center">
                            <div class="option-item">
                                <a href="/qoute" class="default-btn">Consult Us Now</a>
                            </div>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
        <div class="others-option-for-responsive">
            <div style="background-color:white !important" class="container">
                <div style="background-color:white !important" class="dot-menu">
                    <div class="inner">
                        <div style="color:white !important" class="circle circle-one"></div>
                        <div style="color:white !important" class="circle circle-two"></div>
                        <div style="color:white !important" class="circle circle-three"></div>
                    </div>
                </div>
                <div class="container">
                    <div class="option-inner">
                        <div class="others-options d-flex align-items-center">
                            <div class="option-item">
                                <a href="/qoute" class="default-btn">Consult Us Now</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% block content %}{% endblock content %}
<footer style="background-color:white" class="footer-area pt-100">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6 col-md-6">
                <div class="single-footer-widget" data-aos="fade-up" data-aos-delay="50" data-aos-duration="500" data-aos-once="true">
                    <div class="widget-logo">
                        <a href="/"><img src="{{site.logo.url}}" alt="image"></a>
                    </div>
                    <p>{{site.name}} Loan and Investment Ltd is among largest venture capital firm in the world, We provide access to a wide range of quality investment and service to pursue your goals..</p>
                    <ul class="widget-social">
                        <li>
                            <a href="{{site.facebooklink}}" target="_blank">
                                <i class="ri-facebook-fill"></i>
                            </a>
                        </li>
                        <li>
                            <a href="{{site.twiiterlink}}" target="_blank">
                                <i class="ri-twitter-fill"></i>
                            </a>
                        </li>
                        <li>
                            <a href="{{site.instergram}}" target="_blank">
                                <i class="ri-instagram-line"></i>
                            </a>
                        </li>
                        <li>
                            <a href="{{site.whatsapplonk}}" target="_blank">
                                <i class="ri-whatsapp-line"></i>
                            </a>
                        </li>
                    </ul>
                </div>
           
            </div>
            <div class="col-6 col-lg-3 col-md-6">
                <div class="single-footer-widget ps-5" data-aos="fade-up" data-aos-delay="70" data-aos-duration="700" data-aos-once="true">
                    <h3>Site Links</h3>
                    <ul class="quick-links">
                        <li><a href="/about">About Us</a></li>
                        <li><a href="/service">Our service</a></li>
                        <li><a href="/investment">investment</a></li>
                        <li><a href="/grant">Grants</a></li>
                        <li><a href="/contact">Contact Us</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-6 col-lg-3 col-md-6">
                <div class="single-footer-widget" data-aos="fade-up" data-aos-delay="80" data-aos-duration="800" data-aos-once="true">
                    <h3>Contact Info</h3>
                    <ul class="info-links">
                        <li>
                            <span>HEAD OFFICE:</span> Warsaw Wola,
                            65, 73 Chmielna Street,
                            Poland.
                            <br>
                            <br> <br>
                            BRANCH OFFICE:</span> {{site.Address}}
                        </li> 
                     
                        <li>
                            <span>Email:</span><br>
                            <a href="mailto:{{site.email}}"><span>{{site.email}}</span></a><br>
                            <!---a><span>support@ofshoer.com</span></a--->
                        </li>
                        <li>
                            <span>Phone:</span>
                            <a href="callto:{{site.phone}}">{{site.phone}}</a>
                        </li>
                        <!---li>
                            <span>Fax:</span>
                            <a href="tel:1212-9876543">+1-212-9876543</a>
                        </li--->
                    </ul>
                </div>
            </div>
            
        </div>
    </div>
    <div class="copyright-area">
        <div class="container">
            <div class="copyright-area-content">
                <p><!--<= domain ?>--->
                    Copyright © 07/01/25 All Rights Reserved by
                    <a href="/" target="_blank">{{site.name}}</a>
                </p>
            </div>
        </div>
    </div>
</footer>

<div class="go-top">
    <i class="ri-arrow-up-s-line"></i>
</div>

<script src="{% static 'js/hFaKzhBQaB5U.js'%}"></script>
<script src="{% static 'js/onvvBZEk2um1.js'%}"></script>
<script src="{% static 'js/btLycci33me8.js'%}"></script>
<script src="{% static 'js/tHUyeeBIcss8.js'%}"></script>
<script src="{% static 'js/za1ikwpL6EWY.js'%}"></script>
<script src="{% static 'js/BNxOKjje8bR7.js'%}"></script>
<script src="{% static 'js/XEE0tWyKPzZU.js'%}"></script>
<script src="{% static 'js/URyGnvo2yMq7.js'%}"></script>
<script src="{% static 'js/izdeoG0vUStH.js'%}"></script>
<script src="{% static 'js/u6D34vKGiBQy.js'%}"></script>
<script src="{% static 'js/FURUcrEJXOie.js'%}"></script>
<script src="{% static 'js/5nzZFHjkjf8w.js'%}"></script>
<script src="{% static 'js/bDVzmjNVJIAe.js'%}"></script>
<script src="{% static 'js/pPiRmpehpoBK.js'%}"></script>
<script src="{% static 'js/sHSMqpc1ABnC.js'%}"></script>


</body></html>