
{% extends "./index.html" %}
{% load static  %}


{% block content %}
<div class="privacy-policy-area ptb-100">

    <div class="container">

        <div class="privacy-policy-content">

            <h3>Our Investments</h3>

            <p>Our approach is client-centric as we understand that each individual investor has their own unique set of circumstances, that’s why we carefully analyze their needs and create tailored investment solutions to suit them.</p>
            <p>If you're a company or entrepreneur seeking to establish a new venture or expand an existing enterprise, you can come to us directly.
</p>
<p> Our equity investments provide developmental support and long-term growth capital that private enterprises need. We invest directly in companies’ and financial institutions’ equity and also through private-equity funds. In fiscal year 2019, equity investments accounted for about $15.0 million of commitments we made for our own account.</p>

        </div>

    </div>

</div>

{% endblock content %}
