
{% extends "./index.html" %}
{% load static  %}


{% block content %}
<div class="privacy-policy-area ptb-100">

    <div class="container">

        <div class="privacy-policy-content">
            <h3>Our Services</h3><br>

            <div>
                <h5>Structured Loans</h5>
                <p>
                    Securing working capital for your business can be a daunting experience, that’s why you need to use
                    an expert who understands the market and can find you the best loan to suit your needs. Whether you
                    are a startup, re-financing, down-sizing, investing or buying your first home, there is always so
                    much to consider when taking out a loan.
                </p>

                <p>
                    At Bentuga, we believe in providing borrowers with choice and opportunity that support their
                    financial dreams. Our aim is to find you a loan that not only meets your requirements, but exceeds
                    your expectations in terms of rate, product and service.
                </p>
                <p><b>We Offer:</b>
                </p><ul>
                    <li>Personal loan</li>
                    <li>Project Financing loan</li>
                    <li>Agric loan</li>
                    <li>Funding for startups</li>
                    <li>SME Loans and Credit</li>
                </ul>
                <p></p>
            </div><br>

            <div>
                <h5>Finance Advisory</h5>
                <p>
                    We provide advisory services on financing strategies to a diverse range of clients, investors, fund
                    managers and supporting actors to maximize the financial and non-financial returns of their
                    investments. We convey the most innovative solutions and have partnered with businesses to provide
                    scalable financial solutions to meet the needs of our clients.
                </p>

                <p>
                    Working with seasoned professionals, we bridge our clients’ objectives with the reality of the
                    industry, by structuring appropriate tools and helping to guide effective execution.
                </p>
            </div><br>

            <div>
                <h5>Personal Finance</h5>
                <p>
                    We apply the best financial principles when planning personal finance for our clients.
                </p>

                <p>
                    We consider the suitability of each products &amp; services to the client’s needs ranging from savings,
                    credit cards, loans, investments, insurance, retirement plans and income tax management.
                </p>

                <p>
                    We offer full range of personalized financial products &amp; services for different categories of
                    clients.
                </p>

                <p><b>We Provide:</b>
                </p><ul>
                    <li>Vehicle loan</li>
                    <li>Medical loan</li>
                    <li>Emergency loan</li>
                    <li>Property loan</li>
                    <li>Payday loan</li>
                </ul>
                <p></p>
            </div><br>

            <div>
                <h5>Investment Management</h5>
                <p>
                    We work with a diverse range of institutions, High Net Worth Individual, charities, foundations and private individuals to achieve investment goals; financial well-being and bring an innovative approach to traditional investment management.
                </p>

                <p>
                    Our professionals are dedicated to helping clients navigate markets and meet unique investment goals. The firm offers traditional and alternative products and services, including Mutual Funds, Private Wealth, Alternatives &amp; Structured Products.
                </p>
            </div><br>

            <div>
                <h5>Wealth Solutions</h5>
                <p>
                    We understand that wealth planning is the soul of every financial planning hence we have teams
                    solely responsible to helping clients find the proper way to manage liquidity events, develop estate
                    planning, protect and manage succession of wealth.
                </p>

                <p>
                    So, whether structuring, protecting or growing your wealth and that of your family, our own in-house
                    experts and a network of external specialists are here to support you. They develop solutions to
                    meet your needs – from investment solutions, or succession planning to retirement provision.
                </p>
                <p>Weather you need <b>Cash Mangement Services</b> or <b>Alternative Investments,</b> we have a
                    dedicated team of experts who are always ready to assist you. </p>
            </div><br>

            <div>

            </div>

        </div>

    </div>

</div>

{% endblock content %}
